---
---
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//********************************************************
//                    Variables
//********************************************************

// Several accent colors, choose one or create your own!
//$accent-color: #3CA2A2;    // original =)
//$accent-color: #C38FD6;  // velvet
//$accent-color: #8FD6B3;  // greenish
//$accent-color: #35B4DE;  // bluish
//$accent-color: #D2E354;  // yellowish
//$accent-color: #52B54B;  // green
$accent-color: #8DB359;

$font-color: #dddddd;
$background-color: #292929;
$post-panel-color: #444;
$footer-background-color: #292c2f;
$note-color: #87CEFA;
$warning-color: #ffff00;
$darker:         #21211E;
$dark:           #2D2D29;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;
$greenish:       #8FD6B3;
/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Index */

.index {
	height: 100%;
	max-height: 100%;
	width: 100%;
	padding: 0px;

	@media (min-width: $screen-sm-min) {
		// width: 700px;
		// max-width:700px;
                width: 75%;
		max-width:75%;
        }

	.header {
		margin-top: 10px;
		margin-left: 0%;
		margin-bottom: 0px;
		font-size: 32px;
		width: 100%;

		@media (min-width: $screen-lg-min) {
			margin-left: -10%;
			width: 120%;
		}
	}

	.categories {
		font-size: 22px;
	}

	.content-panel:nth-of-type(1) {
		border-bottom: 10px solid $greenish;
	}

	.author-header {
		font-family: 'Montserrat', sans-serif;
                text-align: center;
	        color: $green;
		margin-top: 0px;
		padding-top: 15px;
		font-size: 30px;

		@media (min-width: $screen-sm-min) {
			font-size: 52px;
			margin-top: 0px;
		}

		@media (min-width: $screen-md-min) {
			font-size: 60px;
			margin-top: -20px;
		}
	}

	.row {
		height: 100%;
		max-height: 100%;
		margin-top: 60px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.gravatar {
		width: 100%;
		margin-top: -80px;
		text-align: center;
	}

	.author-text {
		text-align: center;
		margin-top: 30px;

		b {
			font-size: 32px;
		}
	}

	.links {
            text-align:center;
	    font-size: 2em;
	}

	.articles {
		text-align: center;
		font-size: 20px;

		h2 {
			margin-bottom: 30px;
			color: $green;
			font-size: 26px;
		}

		ul {

			padding: 0px;

			li {
				margin-bottom: 20px;
				font-size: 24px;

				a:hover {
					color: #8DB359;
				}

				small {
					font-size: 14px;
					margin-top: -10px;
					padding-top: 0px;
					color: $light-medium;
				}

			}

			li:nth-last-of-type(1) {

				small {
					font-size: 16px;
				}

			}
		}

		a, a:active {
			color: $white;
			white-space: nowrap;
		}

		a:hover {
			color: #8DB359;
		}
	}

	.copyright {
		margin-top: 50px;
		text-align: center;
	}

	.links {
		a, a:active {
			color: #8DB359;
		}
	}

	.menu {
		margin-top: 250px;
		margin-bottom: 20px;
		font-size: 20px;
		position: absolute;
		bottom: 0px;

		a, a:active {
			color: #8DB359;
		}

		a:hover {
			color: #8DB359;
		}

		ul {
			margin-bottom: 30px;
			padding-left: 10px;

			ul {
				padding-left: 50px;
				list-style: none;
				margin-left: 0;
				text-indent: -0.6em;
			}
		}
	}

}





//********************************************************
//                  Common styles
//********************************************************
body {
  padding-top: 80px;
  color: $font-color;
  background: $background-color url(./pics/triangles.png);
  //background: $background-color url(./pics/squares.png); // Another good pattern for background
}

.well {
  background-color: $post-panel-color;
  box-shadow: 0 0 0 0, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 6px;
}
.main-page {
  width: 75%;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote {
  color: #bbb;
  font-size: 1em;
}

a {
  color: #8DB359;
}

//********************************************************
//                    Social Links
//********************************************************
ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;
  li {
    display: inline-block;
  }
  li > a {
    width: 45px;
    height: 45px;
    @include transition(color 0.2s);
    display: inline-block;
    color: white;
    &:hover {
      color: $accent-color;
    }
  }
}


//********************************************************
//                    Share
//********************************************************
.share-bar{
  text-align: right;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    .fa-facebook,
    .fa-twitter,
    .fa-google-plus,
    .fa-linkedin,
    .fa-envelope-o,
    .fa-pinterest {
      color: #ffffff
    }
    a {
      text-decoration: none;
    }

    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
  }

  // Square frame
  li.share-facebook .fa-square-o { color: #3B5998;}
  li.share-twitter .fa-square-o { color: #55acee;}
  li.share-google-plus .fa-square-o { color: #dd4b39;}
  li.share-linkedin .fa-square-o { color: #4875B4;}
  li.share-pinterest .fa-square-o { color: #BD081C;}
  li.share-envelope .fa-square-o { color: #3B5998;}
  // Circle frame
  li.share-facebook .fa-circle-thin { color: #3B5998;}
  li.share-twitter .fa-circle-thin { color: #55acee;}
  li.share-google-plus .fa-circle-thin { color: #dd4b39;}
  li.share-linkedin .fa-circle-thin { color: #4875B4;}
  li.share-pinterest .fa-circle-thin { color: #BD081C;}
  li.share-envelope .fa-circle-thin { color: #3B5998;}

  li:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
  }
}


