<nav class="navbar navbar-fixed-top navbar-center">
  <div class="container-fluid">
    <div class="col-md-3">
      <h3><a class="fa fa-github-square fa-3x" href="#fbsection1"></a></h3></div>
    <div class="col-md-3">
      <h3><a class="fa fa-camera-retro fa-3x"  href="#fbsection2" class="cbp-fbcurrent"></a></div></h3>
    <div class="col-md-3">
      <h3><a class="fa fa-archive fa-3x"href="#fbsection3"></a></div></h3>
    <div class="col-md-3">
      <h3><a class="fa fa-share-square-o fa-3x" href="#fbsection4"></a></div></h3>
  </div>
</nav>  
  

